<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="loading$ | async">loading...</div>
  <button ion-button  *ngIf="!(user$ | async)" (click)="login()">Login </button>
  <div *ngIf="user$ | async as user">
    <div>{{user.uid}}</div>
    <button ion-button *ngIf="user.uid" (click)="logout()">Logout</button>
  </div>
  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
